-e .
blue
coverage
django==4.2.*
django_redis
doc8
flake8
ipython
jedi
pickleDB
pylibmc
pylint
pytest
pytest-cov
pytest-django
pytest-env
pytest-xdist
rstcheck
sphinx
sqlitedict
tox
twine
wheel
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
